<a href="https://colab.research.google.com/github/CamelGoong/Python_practicing/blob/main/%5BChapter8_%ED%81%B4%EB%9E%98%EC%8A%A4%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 08-1 클래스의 기본

*  객체 지향 프로그래밍: 객체를 우선으로 생각해서 프로그래밍한다라는 의미
클래스를 기반으로 객체를 만들고, 그러한 객체를 우선으로 생각해서 프로그래밍하는 것을 이념으로 
삼고 있음.
*  추상화: 프로그램에서 필요한 요소만 사용해서 객체를 표현하는 것.

객체

In [8]:
# 딕셔너리로 객체 만들기

students = [
           {"name" : "윤인성", "korean" : 87, "math" : 98, "english" : 88, "science" : 95},
           {"name" : "연하진", "korean" : 92, "math" : 98, "english" : 96, "science" : 98},
           {"name" : "구지연", "korean" : 76, "math" : 96, "english" : 94, "science" : 90},
           {"name" : "나선주", "korean" : 98, "math" : 92, "english" : 96, "science" : 92},
           {"name" : "윤아린", "korean" : 95, "math" : 98, "english" : 98, "science" : 98},
           {"name" : "윤명월", "korean" : 64, "math" : 88, "english" : 92, "science" : 92}
]

print("이름", "총점", "평균", sep = "\t")

for students in students:
  score_sum = students["korean"] + students['math'] + students["english"] + students['science']
  score_average = score_sum / 4
  print(students['name'], score_sum, score_average, sep = "\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

위처럼, 딕셔너리 형태로 객체를 하나하나 만들다보면, 복잡하고 입력할 때 실수를 할 가능성이 있기 때문에,이를 함수 형태로 구현

In [14]:
# 객체를 만드는 함수(1)

# 딕셔너리를 리턴하는 함수 선언
def create_student(name, korean, math, english, science):
  return {
      "name":name,
      "korean":korean,
      "math":math,
      "english":english,
      "science":science

      }

# 학생 리스트 선언
students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98, 98, 98),
    create_student("윤명월", 64, 88, 92, 92)
]

print("이름", "총점", "평균", sep = "\t")

for students in students:
  score_sum = students["korean"] + students['math'] + students["english"] + students['science']
  score_average = score_sum / 4
  print(students['name'], score_sum, score_average, sep = "\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [20]:
# 객체를 처리하는 함수(2)

def create_student(name, korean, math, english, science):
  return {
      "name":name,
      "korean":korean,
      "math":math,
      "english":english,
      "science":science

      }

# 학생을 처리하는 함수 선언
def student_get_sum(student):
  return student["korean"] + student["math"] + student["english"] + student["science"]

def student_get_average(student):
  return student_get_sum(student) / 4

def student_to_string(student):
  return "{}\t{}\t{}".format(
      student["name"],
      student_get_sum(student),
      student_get_average(student)
  )

In [22]:
students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98, 98, 98),
    create_student("윤명월", 64, 88, 92, 92)
]

print(students)

[{'name': '윤인성', 'korean': 87, 'math': 98, 'english': 88, 'science': 95}, {'name': '연하진', 'korean': 92, 'math': 98, 'english': 96, 'science': 98}, {'name': '구지연', 'korean': 76, 'math': 96, 'english': 94, 'science': 90}, {'name': '나선주', 'korean': 98, 'math': 92, 'english': 96, 'science': 92}, {'name': '윤아린', 'korean': 95, 'math': 98, 'english': 98, 'science': 98}, {'name': '윤명월', 'korean': 64, 'math': 88, 'english': 92, 'science': 92}]

In [23]:
print("이름", "총점", '평균', sep = "\t")
for student in students:
  print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

클래스 선언하기

In [24]:
 # 클래스를 선언
class Student:
  pass

# 학생 선언
student = Student()

# 학생 리스트를 선언
students = [
  Student(),
  Student(),
  Student(),
  Student(),
  Student()
]

생성자

In [28]:
class Student:
  def __init__(self, name, korean, math, english, science):
    self.name = name
    self.korean = korean
    self.math = math
    self.english = english
    self.science = science

# 학생 리스트 선언
students = [
            Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 92, 98, 96, 98),
            Student("구지연", 76, 96, 94, 90),
            Student("나선주", 98, 92, 96, 92),
            Student("윤아린", 95, 98, 98, 98),
            Student("윤명월", 64, 88, 92, 92)
]

# Student 인스턴스의 속성에 접근하는 방법
print(students[1].name)
print(students[1].korean)
print(students[1].math)
print(students[1].english)
print(students[1].science)

연하진
92
98
96
98

소멸자: 생성자와 반대로 인스턴스가 소멸될 때 호출되는 함수

In [30]:
class Test:
  def __init__(self,name):
    self.name = name
    print("{}가 생성되었습니다.".format(self.name))

  def __del__(self):
    print("{}가 파괴되었습니다.".format(self.name))

test = Test("A")

A가 생성되었습니다.

메소드: 클래스가 가지고 있는 함수

In [33]:
# 클래스 내부에 함수(메소드) 선언하기
class Student:
  def __init__(self, name, korean, math, english, science):
    self.name = name
    self.korean = korean
    self.math = math
    self.english = english
    self.science = science

  def get_sum(self):
    return self.korean + self.math + self.english + self.science

  def get_average(self):
    return self.get_sum() / 4

  def to_string(self):
    return "{}\t{}\t{}".format(self.name, self.get_sum(), self.get_average())

students = [
            Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 92, 98, 96, 98),
            Student("구지연", 76, 96, 94, 90),
            Student("나선주", 98, 92, 96, 92),
            Student("윤아린", 95, 98, 98, 98),
            Student("윤명월", 64, 88, 92, 92)
]

print("이름", "총점", '평균', sep = "\t")

for student in students:
  print(student.to_string())

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0